.Contador {
  input, button {
    font-size: 1.4rem;
  }

  input {
    width: 70px;
  }

  button {
    margin: 15px 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #4040af;
    color: #fff;
  }
}